* {
    box-sizing: border-box;
}

:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
/* ======================== COMMON ======================== */
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 57px;
    flex-shrink: 0;
    border: 1.5px solid var(--primary-color-black-green);
    border-radius: 999px;
    background: var(--primary-color-black-green);
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 123.81%;
}

.section-desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 162.5%;
}
/* ======================== HEADER ======================== */
.header {
    margin-top: 28px;
    font-family: "Public Sans", sans-serif;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 9px;
}

.header-top::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    width: 1140px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.logo__name {
    margin-left: 8px;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
}

.navbar {
    margin-left: 406px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.nav-item {
    position: relative;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.nav-item:first-child:after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 2px;
    width: 16px;
    height: 2px;
    flex-shrink: 0;
    background: var(--primary-color-black-green);
    z-index: 1;
}

.nav-item:hover {
    color: var(--primary-color-black);
}

.sign-up-btn {
    margin-left: 88px;
}
/* ======================== HERO ======================== */
.hero {
    padding: 60px 0 80px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    margin-top: 43px;
    width: 35%;
}

.hero__heading,
.hero__desc {
    width: 368px;
}

.hero__heading {
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.hero-btns {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.watch-btn {
    display: flex;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.watch-btn:hover .watch-btn__half-circle {
    transform: rotate(135deg);
    border-color: #83a17d transparent transparent #83a17d;
}

.watch-btn:hover .watch-btn__circle {
    transform: rotate(225deg);
    background: var(--primary-color-black-green);
}

.watch-btn__half-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 4px solid;
    border-color: var(--primary-color-black-green) transparent transparent
        var(--primary-color-black-green);
    transform: rotate(-45deg);
    transition: 0.25s;
}

.watch-btn__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
}

.watch-btn__label {
    white-space: nowrap;
    color: #152427;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero-media {
    position: relative;
    width: 646px;
    height: 543px;
    flex-shrink: 0;
}

.hero-media__bg {
    position: absolute;
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero-media__images {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    top: 0;
    right: 25px;
}

.hero-media__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero-media__img:nth-child(2) {
    margin-top: 77px;
}
/* ======================== BRANDS ======================== */
.brands {
    margin-top: 50px;
}

.brands-body {
    user-select: none;
    padding: 0 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 201px;
    border-radius: 100.5px;
    background: #e2eddf;
    color: var(--primary-color-black-green);
}

.brands__google {
    font-size: 3.1rem;
    font-weight: 500;
}

.brands__slack {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 3.2rem;
    font-weight: 600;
}

.brands__discord {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 2.6rem;
    font-weight: 400;
}

.brands__riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.brands__heroku {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
/* ======================== SERVICES ======================== */
.services {
    margin-top: 106px;
}

.services__title {
    position: relative;
    padding-left: 46px;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 162.5%;
}

.services__title::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 9px;
    left: 0;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.services-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__heading {
    position: relative;
    margin-top: 12px;
    width: 520px;
}

.services__heading::after {
    position: absolute;
    top: 83px;
    right: 103px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.control {
    padding: 0 73px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.control-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #e2eddf;
    color: var(--primary-color-black);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.control-btn__next {
    transform: rotate(180deg);
}

.control-btn:hover {
    color: #fff;
    background: var(--primary-color-black-green);
}

.services-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item:hover {
    position: relative;
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item:hover .services-item__thumb {
    transform: scale(1.1);
}

.services-item__img {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.services-item__thumb {
    width: 370px;
    height: 318px;
    flex-shrink: 0;
    object-fit: cover;
    transition: 0.25s;
}

.services-item__body {
    padding: 24px 84px 23px 18px;
}

.services-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

.services-item__desc {
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 171.429%;
}
